# Python
*.pyc
*.pyo
__pycache__/
*.pyd
*.db
*.sqlite
*.log
*.bak
*.swp
*.tmp

# C
*.o
*.out
*.exe
*.a
*.so
*.dll
*.dSYM/

# Ignore IDE configuration files
.vscode/
.idea/

# Ignore build directories
/build/
bin/

# Ignore temporary files
*.log
*.bak
*.swp
*.tmp

# Ignore CMake files
CMakeLists.txt.user
CMakeLists.txt.cache
CMakeLists.txt.log
